* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  display: inline-block;
  margin: 0;
  font-family: "Lato", -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
  'Open Sans', 'Helvetica Neue', sans-serif;
}

#main {
  display: inline-flex;
  flex-direction: column;
  min-height: 100%;
}

h1,
h2,
h3,
.logo,
.subheading {
  font-family: "Nixie One", -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
  'Helvetica Neue', sans-serif;
}

h1 {
  margin: 1rem 0;
  font-size: 3.375em;
  color: #8FABD0;
}

h2,
h3 {
  flex: 1 1 100%;
}

h2 {
  font-size: 2.25em;
  text-align: center;
  color: #8FABD0;
}

h3 {
  margin: 0 0 0.75rem 0;
  font-size: 1.6875em;
}

p {
  font-size: 1.125em;
  line-height: 1.65;
}

.skip {
  display: inline-block;
  margin: 0 0 0 1.4rem;
  padding: 0.5rem;
  position: absolute;
  top: -10rem;
  z-index: 2;
  background-color: #292929;
  border-radius: 0.25rem;
  color: #F0EDEE;
  transition: top 500ms;
}

.skip:focus {
  top: 3.5rem;
  outline: 0.25rem solid #8FABD0;
}

/* HEADER */
#header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #E8D8C8;
}

#header a {
  display: inline-block;
  margin: 0 0.5rem;
  text-decoration: none;
  color: #292826;
}

.logo {
  flex: 0 0 auto;
  padding: 0 0.5rem;
  font-size: 1.25em;
  font-weight: 700;
}

#nav {
  overflow-x: auto;
  padding: 0.5rem 0;
  white-space: nowrap;
}

#nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#nav a {
  padding: 0.75rem 0.5rem;
}

.logo:focus,
#nav a:focus {
  outline: 0.25rem solid #292826;
}

.logo:focus { 
  outline-offset: 0.25rem;
}

#nav a:focus { 
  outline-offset: -0.25rem;
}

#nav li:nth-child(1) > a,
#nav a:hover {
  background-color: #8FABD0;
}

/* HERO */
.hero {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  min-height: 48rem;
  margin: 4.6875rem 0 0 0;
  padding: 0 5%;
  background:
    url("https://storage.googleapis.com/production-gator-v1-0-4/924/842924/xO2nMqAo/f5faf277ca7f44d391ba6d4df37d124c")
    bottom right / 100% auto
    no-repeat
    #000000;
}

.hero p {
  max-width: 30rem;
  color: #F0EDEE;
}

.subheading {
  margin: 0 0 1rem 0;
  font-size: 1.6em;
  font-weight: 700;
}

span {
  background-color: #0000009B;
}

/* FARMASI INFO */
.farmasi-info {
  flex: 1;
  background-color: #292826;
}

.farmasi-info .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.5rem auto;
  width: 85%;
}

.card {
  display: flex;
  flex: 0 1 42rem;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.75rem 0.25rem #0000003B;
}

.card p {
  flex: 1 1 50%;
}

.card img {
  height: 7rem;
  width: 7rem;
  border-radius: 0.25rem;
}

.product {
  background-color: #3B3A37;
  color: #F0EDEE;
}

.product p {
  margin: 0 1rem 0 0;
}

.product a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: opacity 150ms;
}

.more-info {
  align-self: center;
  background-color: #8FABD0;
  color: #292826;
}

.more-info p {
  margin: 0 0 0 1rem;
}

.more-info a {
  color: inherit;
}

.more-info img {
  box-shadow: 0 0 0 0.2rem #E8D8C8;
}

.product a:focus {
  outline: 0.25rem solid #F0EDEE;
  outline-offset: 0.25rem;
}

.more-info a:focus {
  outline: 0.25rem solid #292826;
  outline-offset: 0.125rem;
}

.product a:hover {
  opacity: 0.75;
}

.more-info a:hover {
  text-decoration: none;
}

/* FOOTER */
#footer {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  width: 100%;
  background-color: #E8D8C8;
}

#footer a {
  margin: 0 0.5rem;
  padding: 0.75rem;
}

.social-media {
  display: flex;
  flex: 1 1 50%;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-media a {
  font-size: 1.25em;
  text-decoration: none;
  color: #292826;
}

.back-to-top {
  display: inline-block;
  font-size: 0.75em;
  background-color: #292826;
  border-radius: 0.25rem;
  color: #F0EDEE;
}

.social-media a:focus {
  box-shadow: 0 0 0 0.25rem #292826;
  outline: none;
}

.back-to-top:focus {
  outline: 0.25rem solid #292826;
  outline-offset: 0.25rem;
}

.social-media a:hover {
  background-color: #8FABD0;
  border-radius: 0.25rem;
}

.back-to-top:hover {
  text-decoration: none;
}

@media (max-width: 425px) {
  body {
    font-size: 14.25px;
  }

  /* FARMASI INFO */
  .card {
    margin: 1rem 0;
  }

  .card p {
    flex-basis: 100%;
  }

  .card img {
    height: auto;
  }

  .product p {
    margin: 0 0 1rem 0;
  }

  .product img {
    width: 60%;
  }

  .more-info p {
    margin: 1rem 0 0 0;
  }

  .more-info img {
    width: 100%;
  }
}

@media (max-width: 680px) {
  h2 {
    text-align: left;
  }
}

@media (min-width: 1280px) {
  /* HERO */
  .hero {
    background-position: center;
  }
}
