* { box-sizing: border-box; }

html,
body { height: 100vh; }

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Lato", -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
  'Open Sans', 'Helvetica Neue', sans-serif;
}

main { flex: 1; }

/* SECTION ONE */
#top-nav {
  display: flex;
  justify-content: flex-end;
  padding: 16px 20px;
  width: 100%;
}

#top-nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#top-nav a {
  display: inline-block;
  padding: 12px;
  text-decoration: none;
  color: #000000;
}

#top-nav a:hover {
  background-color: #F0F0F0;
  border-radius: 4px;
}

#section-one .container {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  justify-content: center;
  padding: 240px 52px;
  text-align: center;
}

#section-one .title {
  margin: 0 0 12px 0;
  font-family: "Dancing Script", apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
  'Helvetica Neue', sans-serif;
  font-size: 52px;
}

#section-one .subtitle {
  font-size: 20px;
  color: #777777;
}

/* SECTION TWO */
#section-two {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #66ADE4;
}

#section-two .container {
  padding: 160px 0;
  width: 80%;
}

#section-two .text {
  font-size: 24px;
  color: #F0F0F0;
}

#section-two a {
  text-decoration: none;
  color: #F0F0F0;
}

#section-two a:hover { text-decoration: underline; }

/* SECTION THREE */
#section-three {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #383838;
}

#section-three .container {
  padding: 64px 0;
  width: 75%;
}

#section-three .cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#section-three .farmasi-info {
  display: flex;
  align-items: center;
  margin: 20px;
  padding: 20px;
  width: 452px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 16px #000000;
}

#section-three img {
  margin: 0 20px 0 0;
  width: 100px;
}

#section-three .text a {
  text-decoration: none;
  color: #000000;
}

#section-three .text a:hover { text-decoration: underline; }

/* FOOTER */
footer {
  display: flex;
  flex: none;
  flex-direction: column;
}

footer .container {
  align-self: center;
  width: 80%;
  text-align: center;
}

#bottom-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 0;
}

#bottom-nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 16px 0 0;
  padding: 0;
  list-style-type: none;
}

#bottom-nav a {
  display: inline-block;
  padding: 12px;
  text-decoration: none;
  color: #000000;
}

#bottom-nav a:hover {
  background-color: #F0F0F0;
  border-radius: 4px;
}

#bottom-nav .text {
  margin: 0 0 0 16px;
  font-family: "Dancing Script", apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
  'Helvetica Neue', sans-serif;
  font-size: 32px;
}

footer .social-media {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
}

footer .social-media ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  width: 100%;
  list-style-type: none;
  background-color: #66ADE4;
}

footer .social-media a {
  padding: 24px;
  text-decoration: none;
  color: #383838;
}

footer .social-media a:hover { color: #F0F0F0; }

@media (max-width: 425px) {
  /* SECTION THREE */
  #section-three .farmasi-info { flex-flow: column wrap; }

  #section-three img {
    margin: 0 0 20px 0;
    width: 160px;
  }
}

@media (max-width: 768px) {
  /* FOOTER */
  #bottom-nav {
    flex-flow: column wrap;
    padding: 16px 0 28px;
  }

  #bottom-nav ul { margin: 0; }
  
  #bottom-nav .text { margin: 12px 0 0 0; }
}